<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<h1> Thông Tin Liên Hệ </h1>
<ul>
    <li><img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/1472026_746087785459615_2493020595913779290_n.jpg?oh=c7eb1f967b79bf64dd5001d8c19875dc&oe=5973A5EF"></li>
    <li>Full name: Do Huy Hoang</li>
    <li>Birthdate: 16/10</li>
    <li>Phone: 01659488176</li>
    <li>Email: hoangspm.zim@gmail.com</li>
    <li>Education: Seven studying</li>
    <li>Work experience: Seven Working</li>
    <li>Location: Ha Long</li>
    <li>Martial Status: Married</li>
    <li>Quote: ahihi</li>
</ul>
</body>
</html>