<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Not Login</title>
</head>
<body>
    {{ current_time }}
    Ngắn gọn và dễ nhớ =))
    <h1>{{ number_visiter }} peoole have visited today</h1>
    <h2>Ngắn gọn và dễ nhớ</h2>
    <p>paragraph</p>
    <p>paragraph</p>
    <div>division</div>
    <div>division</div>

    <img alt="Quỳnh Anhhhh" src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.0-9/12243328_985456551526614_7139423683245428893_n.jpg?oh=fcdda138cbc785bdeb755339335d59e1&oe=5958D99A">
    <a target="_blank" href="http://www.google.com"> <p>Go to Google</p> </a>
    <!-- Comment here -->


</body>
</html>